[DEFAULT]
mmt_probe_csv_dir = /home/mra/Documents/Montimage/encrypted-trafic/entra/server/csv/
model_path = /home/mra/Documents/Montimage/encrypted-trafic/entra/saved_models/sae_cnn_2022-03-02_10-37-27.h5
scaler_path = ./scalers/scaler_2022-03-02_10-37-27.pkl

[MMT_PROBE]
mmt_probe_path = /home/mra/Documents/Montimage/encrypted-trafic/entra/server/probe
mmt_conf_path = /home/mra/Documents/Montimage/encrypted-trafic/entra/server/mmt-probe.conf
input_pcap_path = /home/mra/Documents/Montimage/encrypted-trafic/entra/data/ctu_manual/2013-12-17_capture1.pcap
mmt_output_csv = /home/mra/Documents/Montimage/encrypted-trafic/entra/server/csv/